.welcome {
    width: 100%;
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .welcome .topBar {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-position: center;
    background-color:#17916B;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

.welcome .greenbar{
    width: 100%;
    height: 5px;
    background-color: #21CE99;
}

.topBar .whiteBar{
    display: flex;
    border-radius: 35px;
    background-color: white;
    width: 190px;
    height: 40px;
    align-items: center;
}

.topBar .whiteBar img{
    margin-left: 5px;
    align-items: center;
    justify-self: center;
}

.topBar .whiteBar h1{
    margin-top: 20px;
    margin-left: 15px;
    align-items: center;
    justify-self: center;
    color: #17916B;
    width: 2px;
    font-size: 24px;
}

.welcome .topBar p{
    margin-left: 200px;
    font-size: 22px;
    color: white;
}
.welcome .heading{
    font-size:xx-large;
    font-family:Maiandra;
    font-weight: lighter;
}

.welcome .welcomeBox{
    background-color: #21CE99;
    border-radius: 15px;
    margin-bottom: 50px;
    height: 210px;
    width: 1190px;
}

.welcome .welcomeBox .textAreaLight{
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 28px;
    text-align: center;
}

.welcome .welcomeBox .textAreaLight p{
    color: white;
    word-wrap: break-word;
    width: 350px;
    
}

.welcome .welcomeBox .bottomGreen{
    background-color: #17916B;
    height: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.welcome button{
    /* width: 255px;
    height: 40px;
    background:#21CE99;
    color: white;
    border: none;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 32px;
    text-align: center;
    /* margin-right: 120px; */
    width: 255px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 40px;
    background:#21ce99;
    margin-bottom: 500px;
    color: white;
    border: none;
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
}

button:hover{
    background-color: #e4e7e4;
    border:2px solid #17916B;
    color: #17916B;
    box-shadow: none;
}